body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #080808;
    color: #c3d6c5;
}

header {
    background-color: #131313;
    color: #04cf15;
    text-align: center;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
}

a.back-to-home {
    font-size: 12px;
    margin-top: 15px;
    align-self: flex-start;
}

nav {
    background-color: #0e0e0e;
    padding: 1em;
}

nav ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 1em;
}

main {
    padding: 2em;
}

footer {
    background-color: #0e0e0e;
    color: #d3d3d3;
    text-align: center;
    padding: 1em;
}

h4 {
    font-size: 0.9em; 
}